/* 
  1. Posicionamiento
  2. Modelo de caja
  3. Tipografía
  4. Visuales
  5. Otros
*/

/* _____Globals: */
:root {
  --light-color: #e0e0e0;
  --dark-color: #120f13;
  --grey-color: #252329;
  --soft-grey: #828282;
  --typing-box: #3c393f;
  --cool-blue: #2f80ed;
  --fire-color: #eb5757;

  --shadow: rgba(0, 0, 0, 0.25);

  --primary-font: "Noto Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  color: var(--light-color);
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: -0.05rem;
  background-color: var(--grey-color);
  overflow-y: hidden;
}

h2 {
  font-size: 1.6rem;
  font-weight: bold;
}
h3 {
  color: var(--soft-grey);
  font-size: 1.6rem;
  font-weight: bold;
}

h4 {
  color: var(--soft-grey);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
}

img {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.hidden {
  display: none !important;
}

.close--menu {
  position: absolute;
  top: -100px;
  right: 10px;
  z-index: 30;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark-color);
  box-shadow: 0px 4px 4px var(--shadow);
  border-radius: 12px;
  transition: 0.3s;
}

/* _____Container: */
.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

/* _____Header: */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: var(--grey-color);
  box-shadow: 0px 4px 4px var(--shadow);

  grid-area: header;
}
.header--grid {
  display: flex;
  align-items: center;
  align-self: center;
}
.header--menu {
  margin-right: 20px;
}
.header--title h2 {
  text-transform: uppercase;
}

/* _____Main: */
.main {
  padding-top: 60px;
  padding-bottom: 60px;
  height: 100vh;
  overflow-y: scroll;

  grid-area: main;
}
.main--grid {
  display: grid;
  grid-template-rows: 1fr max-content;
}

/* _____Chat: */
.chat {
  /* overflow: scroll; */
}
.chat .chat--date {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  color: var(--soft-grey);
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.chat .chat--date hr {
  position: relative;
  top: 8px;
  height: 1px;
  border: none;
  background-color: var(--soft-grey);
}
.chat .chat--date small {
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: fit-content;
  background: var(--grey-color);
}
.chat .chat--container {
}
.chat .chat--item {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 42px 1fr;
}
.chat .chat--img {
  height: 42px;
}
.chat .chat--img img {
  border-radius: 7px;
}
.chat .chat--content {
  margin-left: 10px;
}
.chat .chat--content__info {
  display: flex;
  align-items: flex-start;
}
.chat .chat--content__info h4 {
  margin-top: 3px;
  margin-left: 10px;
}
.chat .chat--content__text {
  margin-top: 5px;
}

/* _____Typing:  */
.typing {
  position: fixed;
  bottom: 0;
  z-index: 3;
  padding-bottom: 15px;
  width: calc(100% - 40px); /* 100% (screen) - 40px (wrapper padding) */
  background-color: var(--grey-color);
  border-top-left-radius: 12px;
}
.typing--container {
  padding: 0 10px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--typing-box);
  border-radius: 12px;
}
.typing--container input {
  padding-left: 10px;
  width: calc(100% - 50px); /* 100% (typing--container), 50px (typing--send) */
  color: var(--light-color);
  font-size: 1.4rem;
  background: transparent;
  border: none;
  outline: none;
}
.typing--container input::placeholder {
  color: var(--soft-grey);
}
.typing--container .typing--send {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-color);
  background-color: var(--cool-blue);
  border: none;
  border-radius: 7px;
  outline: none;

  cursor: pointer;
}
.typing--container .typing--send i {
  padding-left: 2px;
}

/* _____Sidebar: */
.sidebar {
  position: absolute;
  top: 0;
  left: -100vw;
  z-index: 20;
  width: calc(100% - 60px); /* 60px (close--menu - 20px padding) */
  height: 100vh;
  background-color: var(--dark-color);
  transition: 0.3s;

  grid-area: sidebar;
}
.sidebar.is-active {
  left: 0;
}
.sidebar.is-active ~ .close--menu {
  top: 10px;
}
.sidebar--grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px calc(100vh - 140px) 80px; /* 140px (sidebar--head + sidebar--myprofile) */
}
/* ____SidebarHead: */
.sidebar--head {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px var(--shadow);
}
.sidebar--head__title {
  margin-left: 20px;
}
/* _____SidebarContet: */
.sidebar--content {
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: scroll;
}
.sidebar--content .sidebar--channel-description {
  margin-top: 20px;
  margin-bottom: 30px;
}
.sidebar--content .sidebar--channel-description h2 {
  margin-bottom: 15px;
  text-transform: uppercase;
}
.sidebar--content .sidebar--channel-description p {
  margin: 0;
}
/* _____SidebarMembers: */
.sidebar--channel-members h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.sidebar--channel-members__item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  cursor: pointer;
}
.sidebar--channel-members__name:hover {
  text-decoration: underline;
  color: var(--soft-grey);
}
.sidebar--channel-members__picture {
  width: 42px;
  height: 42px;
}
.sidebar--channel-members__picture img {
  border-radius: 12px;
}
.sidebar--channel-members__name {
  margin-left: 20px;
}
/* _____SidebarMyprofile: */
.sidebar--myprofile {
  display: grid;
  grid-template-columns: 42px 1fr 15px;
  align-content: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #0b090c;
}
.sidebar--myprofile__picture {
  width: 42px;
  height: 42px;
}
.sidebar--myprofile__picture img {
  border-radius: 7px;
}
.sidebar--myprofile__name {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.sidebar--myprofile__icon {
  display: flex;
  align-items: center;
  color: var(--light-color);
  background: transparent;
  border: none;
  outline: none;

  cursor: pointer;
}
.sidebar--myprofile__icon.is-active > i {
  transform: rotate(180deg);
  transition: 0.2s;
}
.sidebar--myprofile__icon.is-active ~ .sidebar--myprofile-open {
  display: block;
}
/* _____SidebarMyprofileOpen: */
.sidebar--myprofile-open {
  position: absolute;
  bottom: 50px;
  right: 20px;
  padding: 12px;
  font-size: 1.2rem;
  background: var(--grey-color);
  border: 1px solid #3c393f;
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);

  display: none;
  transition: 1s;
}
.sidebar--myprofile-open__item {
  padding-left: 10px;
  width: 160px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}
.sidebar--myprofile-open__item:hover {
  background-color: var(--typing-box);
}
.sidebar--myprofile-open__item:last-child a {
  color: var(--fire-color);
}
.sidebar--myprofile-open hr {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  background-color: var(--typing-box);
  border: none;
}
.sidebar--myprofile-open__item a {
  display: flex;
  align-items: center;
  color: var(--light-color);
  text-decoration: none;
}
.sidebar--myprofile-open__item a i {
  font-size: 1.6rem;
}
.sidebar--myprofile-open__item a p {
  margin-left: 10px;
  font-family: 500;
}

/* _____Scrollbars: */
.main::-webkit-scrollbar,
.sidebar--content::-webkit-scrollbar {
  width: 10px;
}
.main::-webkit-scrollbar-thumb,
.sidebar--content::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  margin: 0 10px;
}
.main::-webkit-scrollbar-button,
.sidebar--content::-webkit-scrollbar-button {
  height: 10px;
  background-color: transparent;
}

/* _____Breakpoints: */
@media screen and (min-width: 748px) {
  .container {
    grid-template-columns: max-content 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
      "sidebar header"
      "sidebar main";
  }

  .close--menu {
    display: none;
  }

  .header {
    position: static;
  }
  .header--menu {
    display: none;
  }

  .main {
    padding-top: 0;
    position: relative;
  }
  .main--grid {
    padding-bottom: 100px;
  }
  .main .typing {
    width: calc(
      70% - 40px
    ); /* 70% (viewport - sidebar), 40px (main section paddings) */
  }

  .sidebar {
    position: static;
    width: 30vw;
  }
  .sidebar--myprofile-open {
    bottom: 110px;
    right: calc(
      70% + 20px
    ); /* 70% (main section) + 20px (myprofile padding-right) */
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h2,
  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  .chat .chat--date {
    font-size: 1.4rem;
  }

  .wrapper {
    padding-left: 70px;
    padding-right: 70px;
  }

  .main .typing {
    padding-bottom: 30px;
    width: calc(
      (100% - 350px) - 140px
    ); /* 350px (sidebar) - 140px (main section padding) */
  }
  .typing--container input {
    font-size: 1.6rem;
  }

  .sidebar {
    width: 350px;
  }
  .sidebar--myprofile-open {
    right: calc(
      (100% - 350px) + 20px
    ); /* 350px (sidebar) + 20px (myprofile padding-right) */
  }
}
